<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="stylesheet" href="../public/lib/bootstrap/bootstrap.css" />
    <script src="../public/lib/bootstrap/popper.min.js"></script>
    <script src="../public/lib/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Aerolineas Vuela Lejos</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="destinos.html">Destinos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="hoteles.html">Hoteles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ayuda.html"
                >Centro de Ayuda</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  href="contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container help-contain">
      <div class="text-center">
        <img src="../public/img/telefono.png" class="img-fluid plane" />
        <br /><br />
        <h1 class="display-1">Contacto</h1>
        <br>
        <p class="display-5 pr-freq">Teléfono 1: 996040090 </p>
        <p class="display-5 pr-freq">Teléfono 2: 996040091  </p>
        <p class="display-5 pr-freq">Email: contacto@aerolinea.cl  </p>
      </div>
      <br /><br />
    </div>
  </body>
</html>
